{% extends 'base.html' %}

{% block title %}TODO list{% endblock %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>TODO list</h1>
    <a href="{% url 'doer:add_task' %}" class="btn btn-primary link-to-page">Add task</a>
  </div>

  {% for task in tasks %}
    <div class="task-item mb-4">
      <h3>
        {{ task.content }}
        {% if task.is_done %}
          <span class="text-success">Done</span>
        {% else %}
          <span class="text-danger">Not done</span>
        {% endif %}
      </h3>

      <div class="d-flex justify-content-between align-items-center p-2">
        <p class="mb-0">
          Created: {{ task.created_at|date:"F d, Y, P" }}
          {% if task.deadline %}
            Deadline: {{ task.deadline|date:"F d, Y, P" }}
          {% endif %}
        </p>
        {% if task.is_done %}
          <a href="{% url 'doer:undo_task' task.id %}" class="btn btn-secondary">Undo</a>
        {% else %}
          <a href="{% url 'doer:complete_task' task.id %}" class="btn btn-success">Complete</a>
        {% endif %}
      </div>

      <div class="d-flex align-items-center gap-3 p-2">
        <p class="mb-0">Tags:
          {% for tag in task.tags.all %}
            <span>{{ tag.name }}</span>
          {% endfor %}
        </p>
        <a href="{% url 'doer:update_task' task.id %}" class="btn btn-link text-decoration-none">Update</a>
        <a href="{% url 'doer:delete_task' task.id %}" class="btn btn-link text-decoration-none">Delete</a>
      </div>
    </div>
  {% endfor %}
{% endblock %}
